@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
}
.upper {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(168, 173, 186));
  /* border-bottom: solid 5px #8e8989; */
}

.contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contents .img img {
  width: 300px;
  margin: 30px 0;
}

.contents .para {
  color: #ff5a00;
  width: 700px;
  line-height: 28px;
  letter-spacing: 2px;
  /* margin: 16px; */
}

.boundary {
  height: 200px;
  border: 1px solid #8a8a8a;
}

.head {
  text-align: center;
  margin: 16px;
  font-weight: bold;
  font-size: 33px;
  /* color: */
}

.dev {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
}

.dev img {
  margin: 30px 0;
  width: 400px;
  clip-path: circle();
}

.dev .txt {
  width: 550px;
}

.dev .txt h1 {
  font-size: 30px;
  font-style: poppins;
  margin-bottom: 10px;
  font-weight: 100;
  color: #ff5a00;
}

.dev .txt h3 {
  font-size: 20px;
  font-style: poppins;
  margin-bottom: 10px;
  color: #838282;
}

.dev .txt p {
  margin-top: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  font-style: poppins;
}

@media (max-width: 800px) {
  .boundary {
    display: none;
  }

  .contents {
    flex-direction: column;
  }

  .contents .para {
    width: 400px;
  }

  .dev {
    flex-direction: column;
  }

  .dev .txt {
    width: 400px;
    text-align: center;
  }
}
