.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 0.4rem;
  max-width: 12rem;
  border: solid 1px #e9c9b8;
}
.snav1 button {
  font-weight: 400;
  color: white;
  background-color: #ff5a00;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}
@media (max-width: 421px) {
  .items {
    width: 100%;
  }
  .card {
    max-width: 18rem;
  }
}
